//= require jquery_ui

@import "foundation";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/transition";

$default-box-shadow-color: rgba(0, 0, 0, 0.25);
$default-box-shadow-v-offset: 4px;

$theme-primary:   #A0CAB5;
$theme-secondary: #F38A8A;
$theme-shadow:    #55443D;
$theme-bg:        #F1EDD0;

/* Generic - - - - - - - - */

// override bootstrap weirdness
html,body{background:none;}
.inputs-list input[type=radio],.inputs-list input[type=checkbox]{margin-bottom:0;margin-left:0;float:none;}
.inputs-list li.inline label { display: inline; margin-left: 0 }

body {
  background-color: $theme-bg;
  color: #333;
}

.alert-message.block-message {
  h2 {
    font-size: 16pt;
    margin-bottom: 5px;
  }
  @include single-box-shadow;
}

.char-count-warning {
  color: #cc3;
  font-weight: bold;
}

.char-count-overage {
  color: red;
  font-weight: bold;
}

.colorpicker input {
  width: auto;
}

.actions .right {
  float: right;
}

ul.icons {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    a {
      display: block;
      width: 42px;
      height: 42px;
    }
  }
}

/* Columns - - - - - - - -*/

.col-span {
  display: inline;
  float: left;
  margin-left: 20px;
}

.profile-col {
  @extend .span6;
  @extend .col-span;
}

.aux-col {
  @extend .span10;
  @extend .col-span;
}

/* Layout - - - - - - - - -*/

nav {
  background-color: $theme-shadow;
  padding: 0;
  ul {
    margin: 5px 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      padding: 2px;
      margin: 0 10px 0 0;
      a {
        color: #777;
        @extend .small;
        @extend .radius;
        @extend .button;
        @include background(linear-gradient(top, #eee, #ddd));
        @include single-transition(all, 0.2s, ease-in-out);
      }
      &.active a, & a:hover {
        color: #fff;
        @include background(linear-gradient(top, $theme-secondary, $theme-secondary - 40));
      }
    }
  }
}

#search-form {
  input {
    @include border-radius;
    border: 1px solid #372c28;
  }
  margin: 0;
  padding: 3px;
}

#main {
  margin-top: 40px;
}

footer {
  margin-top: 50px;
  color: #777;
  a, a:hover {
    color: $theme-shadow;
  }
  .main {
    @extend .offset1;
  }
}

/* Home Screen - - - - - - */

#home {
  font-family: Bitter, Helvetica, Arial, sans-serif;
  color: #999;
  h2 {
    font-size: 38pt;
    color: #999;
    font-weight: normal;
    margin-bottom: 20px;
  }
  p {
    font-size: 18pt;
  }
  .community {
    color: $theme-secondary;
  }
}

/* Profile - - - - - - - - */

#profile {
  a {
    color: #95bca9;
    &:hover {
      color: #789787;
    }
  }
  .icons {
    padding-left: 20px;
    li {
      margin: 0 15px 15px 0;
    }
  }
  .pic img {
    @include single-box-shadow;
    margin-bottom: 20px;
  }
  .roles {
    margin: 35px 0;
    border-top: 3px solid $theme-primary;
    padding-top: 35px;
    ul {
      list-style: none;
      margin: 0;
      li {
        font-size: 22pt;
        line-height: 1.2em;
        margin-bottom: 10px;
        svg {
          margin-right: 5px;
        }
      }
    }
  }
}

.hero {
  font-family: Bitter, Helvetica, Arial, sans-serif;
  font-size: 32pt;
  color: #999;
  line-height: 1.3em;
  .name {
    color: #555;
  }
  .location {
  }
  .community {
    color: $theme-secondary;
  }
}

/* Search Results - - - - -*/

#search-results {
  h2 {
    margin-bottom: 20px;
  }
  .profile {
    .pic {
      float: left;
      margin-right: 10px;
    }
    .name {
      font-size: larger;
    }
  }
  .empty {
    font-style: italic;
  }
}

/* Forms - - - - - - - - - */

.simple_form {
  select.date {
    width: auto;
  }
  .radio {
    input {
      margin-right: 5px;
    }
  }
  .hint, .help-inline {
    display: block;
    margin: 5px 0 0 150px;
    font-size: smaller;
    color: #777;
  }
  .error .error {
    display: block;
    margin-left: 150px;
    color: red;
    font-weight: bold;
  }
  .text-only {
    margin-bottom: 10px;
    label {
      padding-top: 0;
    }
    .input {
      margin-left: 150px;
      font-size: 13px;
      line-height: 18px;
      padding-top: 0;
    }
  }
  .input .ui-slider {
    margin-top: 10px;
  }
}

form.message {
  input[type=text] {
    width: 380px;
  }
  textarea {
    width: 380px;
    height: 250px;
  }
}
