//= require jquery_ui

@import "foundation";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/images";
@import "compass/css3/transition";
@import "compass/css3/background-size";

$default-box-shadow-color: rgba(0, 0, 0, 0.25);
$default-box-shadow-v-offset: 4px;

// http://www.colourlovers.com/palette/128162/Mais
$theme-primary:        #33AABB;
$theme-secondary:      #CC4433;
$theme-shadow:         #726868;
$theme-bg:             #CCDDDD;
$theme-subtle:         #EEEEEE;

$theme-alert-info: $theme-subtle;
$theme-alert-success: $theme-primary;
$theme-alert-warning: #E8840E;
$theme-alert-error: $theme-secondary;

/* Generic - - - - - - - - */

html, body {
  height: 100%;
}

body {
  color: #333;
  background-color: $theme-bg;
}

/* Full-Screen BG Image- - */

.bg {
  @include background-size(cover);
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Layout - - - - - - - - -*/

.meta {
  @extend .one;
  @extend .columns;
}

.body-with-meta {
  @extend .eleven;
  @extend .columns;
}

#main {
  padding-top: 40px;
  @include single-box-shadow(rgba(#000, 0.2), 0, -10px, 15px);
}

/* Header and Nav- - - - - */

header {
  @include background(linear-gradient(top, $theme-shadow, $theme-shadow - 15));
  padding: 25px 0;
}

nav {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      display: inline-block;
      padding: 2px;
      margin: 0 10px 10px 0;
      &.icon {
        padding-top: 4px;
        a {
          display: inline-block;
        }
      }
      &.right:first-child {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  nav ul {
    li {
      display: none !important;
    }
    li.on-mobile {
      display: inline-block !important;
    }
  }
}

/* Buttons - - - - - - - - */

.btn, .btn:focus {
  color: #777;
  @extend .small;
  @extend .radius;
  @extend .button;
  @include background(linear-gradient(top, $theme-subtle, $theme-subtle - 10));
  @include single-box-shadow;
  @include single-transition(all, 0.2s, ease-in-out);
  padding: 8px 20px;
}

nav .active .btn, .btn.active, .btn.primary, .btn:hover {
  color: #fff;
  @include background(linear-gradient(top, $theme-primary, $theme-primary - 40));
}

/* Alert Boxes - - - - - - */

.alert-box {
  p {
    font-size: 12pt !important;
    margin: 5px;
  }
}

.alert-box.info    { background-color: $theme-alert-info;    }
.alert-box.notice  { background-color: $theme-alert-info;    }
.alert-box.success { background-color: $theme-alert-success; }
.alert-box.warning { background-color: $theme-alert-warning; }
.alert-box.error   { background-color: $theme-alert-error;   }
.alert-box.alert   { background-color: $theme-alert-error;   }

/* Search- - - - - - - - - */

#search {
  display: inline-block;
  margin: 0;
  input {
    @include border-radius;
    @include single-box-shadow;
    border: none;
    padding: 5px;
  }
}

#search-results {
  display: none;
  @include border-radius;
  color: #555;
  padding: 15px;
  background-color: rgba(#fff, 0.6);
  p {
    font-size: 15pt;
  }
  a {
    color: $theme-secondary;
  }
}

footer {
  margin-top: 50px;
  color: #777;
  a, a:hover {
    color: $theme-shadow;
  }
}

/* Home Screen - - - - - - */

.row.no-margin {
  margin: 0;
}

#home {
  @extend .six;
  @extend .columns;
  @extend .offset-by-one;
  margin: 50px 0;
  font-family: Bitter, Helvetica, Arial, sans-serif;
  .logo {
    text-align: center;
    margin-bottom: 15px;
  }
  h2 {
    text-align: center;
    font-size: 40pt;
    color: #555;
    font-weight: normal;
    margin-bottom: 20px;
  }
  article {
    text-align: center;
    @include border-radius;
    color: #555;
    padding: 15px;
    background-color: rgba(#fff, 0.6);
    p {
      font-size: 15pt;
    }
    a {
      color: $theme-secondary;
    }
    a.btn {
      color: #777;
      width: 60%;
      margin: 0 auto;
    }
    a.btn:hover {
      color: #fff;
    }
    .login-buttons {
      margin-top: 35px;
      list-style: none;
      font-size: 10pt;
    }
  }
  footer {
    font-size: 9pt;
    color: #777;
    a {
      color: #444;
    }
  }
}

/* Profile - - - - - - - - */

#profile {
  a {
    color: $theme-primary;
    &:hover {
      color: $theme-secondary;
    }
  }
  .icons {
    padding-left: 20px;
    li {
      margin: 0 15px 15px 0;
    }
  }
  .pic img {
    @include single-box-shadow;
    margin-bottom: 20px;
  }
  .roles {
    margin: 35px 0;
    border-top: 3px solid $theme-primary;
    padding-top: 35px;
    ul {
      list-style: none;
      margin: 0;
      li {
        font-size: 22pt;
        line-height: 1.2em;
        margin-bottom: 10px;
        svg {
          margin-right: 5px;
        }
      }
    }
  }
  font-family: Bitter, Helvetica, Arial, sans-serif;
  font-size: 32pt;
  color: #999;
  line-height: 1.3em;
  .name {
    color: #555;
  }
  .location {
  }
  .community {
    color: $theme-secondary;
  }
}

/* Search Results - - - - -*/

#search-results {
  h2 {
    margin-bottom: 20px;
  }
  .profile {
    .pic {
      float: left;
      margin-right: 10px;
    }
    .name {
      font-size: larger;
    }
  }
  .empty {
    font-style: italic;
  }
}

/* Tabs- - - - - - - - - - */

dl.tabs {
  border-bottom: 1px solid #BBB;
  dd a {
    @include border-top-radius;
    border-color: #BBB;
    &.active {
      border-color: #BBB;
      border-bottom-width: 1px;
      height: 29px;
    }
  }
}

/* Forms - - - - - - - - - */

form.nice {
  textarea {
    width: 700px;
    height: 250px;
  }

  .from, .to {
    margin-bottom: 9px;
  }

  label.boolean, label.collection_radio, .inline label {
    display: inline;
  }

  .input.radio {
    margin-bottom: 10px;
  }

  .date select {
    display: inline;
  }

  .checkbox-group {
    margin: 10px 0;
  }

  fieldset {
    border-color: #999;
    padding: 15px 10px;
  }

  .actions {
    border-top: 2px solid $theme-primary;
    padding-top: 15px;
    margin-top: 15px;
    .right {
      float: right;
    }
  }

}
